.SearchPage {
  padding: 24px;
  color: white;
}

.SearchPage h2 span {
  color: #ff69b4;
}

.SearchItem {
  padding: 8px 12px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.SearchItem:hover {
  background-color: #2c2230;
}

.SearchPage h3 {
  margin-top: 24px;
  color: #ccc;
}
