.card-grid {
  padding: 15px 20px;
  /* background-color: #1a1a2e; */
  margin-left: 10px;
  color: white;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}

.grid-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  max-width: none;
}

.card {
  background-color:rgba(31, 31, 31, 1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  padding: 10px;
  width: 200px;
  height: auto;
  max-width: 200px;
  min-width: 200px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  padding: 4px;

}

.card-info {
  padding: 10px;
  text-align: left;
}

.card-info h3 {
  font-size: 16px;
  margin: 5px 0;
}

.card-info p {
  font-size: 14px;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cviewall {
    width: 83px;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cvaplus {
        font-size: 36px;
        color: white;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        padding: 2px 10px;

        background-color: #1e1e1e;
        border-radius: 50%;
    }

    .cvat {
        margin-top: 8px;
        font-size: 14px;
        color: white;
        font-weight: 500;
        text-align: center;
    }
}

.card {
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}