@import "tailwindcss";

.d2card {
  cursor: pointer;
  flex: 0 0 auto;
  
}

.d2card-thumb {
  position: relative;
  width: 100%;
  height: 140px;
  border-radius: 12px;
  overflow: hidden;
}

.d2card-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.35s ease; /* smooth zoom */
  transform-origin: center center;
}

.d2card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0.5) 60%);
}

.d2card-title {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 12px;
    color: #fff;
    font-family: 'Just Another Hand', cursive;
    font-size: 25px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

/* small view all circle (to place at the end of the row) */
.d2card.view-all {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.35);
  border-radius: 50%;
}

.d2card.view-all .d2card-thumb {
  height: 56px;
}

.d2card.view-all .d2card-title {
  font-size: 14px;
  bottom: 8px;
  left: 8px;
}

/* Zoom on hover */
.d2card:hover .d2card-thumb img {
  transform: scale(1.06);
}




.dcontainer {
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 10px;
}

.dviewall {
    width: 83px;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .dvaplus {
        font-size: 36px;
        color: white;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        padding: 2px 10px;

        background-color: #1e1e1e;
        border-radius: 50%;
    }

    .dvat {
        margin-top: 8px;
        font-size: 14px;
        color: white;
        font-weight: 500;
        text-align: center;
    }
}