@import "tailwindcss";

.video-section {
    margin-bottom: 40px;
    margin-left: 40px;
}
.video-section-title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

.video-section-title .accent {
    color: #ee10b0;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between  ;
    align-items: center;
    width: 92%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 18px;
    align-items: start;
    margin-top: 10px;

}

.video-card {
    width: 280px;
    position: relative;
    background: #2c2430;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.video-thumbnail {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
    transition: all 0.35s ease;
}

/* zoom thumbnail on hover */
.video-card:hover .video-thumbnail img {
    transform: scale(1.06);
}

.video-bottom {
    background: rgba(0,0,0,0.6);
    padding: 10px;
}

.video-title {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 6px;
}

.video-sub {
    display: flex;
    justify-content: space-between;
    color: #bdbdbd;
    font-size: 12px;
}

.vviewall {
    width: 83px;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .vvaplus {
        font-size: 36px;
        color: white;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        padding: 2px 10px;

        background-color: #1e1e1e;
        border-radius: 50%;
    }

    .vvat {
        margin-top: 8px;
        font-size: 14px;
        color: white;
        font-weight: 500;
        text-align: center;
    }
}
    /* Responsive */
@media (max-width: 1024px) {
.video-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 640px) {
.video-grid { grid-template-columns: repeat(1, 1fr); }
}